@{
    ViewData["Title"] = "Which Dwight";
}

<h2> Link Your Photo </h2>

<p>
    Please type the URL of the photo you want to use to see which version of Dwight Schrute you are!
</p><br>

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <label>Link</label>
        <input type="text" name="link">
    </div>

    <div>
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>