@{
    ViewData["Title"] = "Which Character From The Office Are You";
}

<h2> Upset about the end of The Office? </h2>

<p>
    Us too. Please type the URL of the photo you want to use to see which character from The Office you are!
</p><br>

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <label>Link</label>
        <input type="text" name="link">
    </div><br/>

    <div>
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>