@{
    ViewData["Title"] = "Which Character From The Office Are You";
}
@model Result

<p>
    @Model.description
</p>

<img src=@(Model.photo) width="500">

<form asp-controller="Home" asp-action="Results" method="post">
    <div><br/>
        <input type="submit" value="Back" class="btn btn-default"/>
    </div>
</form>